<div
  class="container"
  [class.portrait]="!paysage"
  [class.bigscreen]="bigscreen"
>
  <div [class.invisible]="!showMenu" class="portrait-menu">
    <p class="cross clickable" (click)="showMenu = false">x</p>
    <p
      *ngFor="let menu of topmenu"
      [class.clicked]="page == menu"
      [class.grised]="!menu.active"
      (click)="clickMenu(menu.en)"
    >
      {{ menu[trad] }}
    </p>
  </div>

  <div class="toptitle">
    <img
      class="clickable icnmenu"
      src="menu.png"
      (click)="showMenu = true"
      *ngIf="!paysage"
    />
    <img class="logo" src="logotop.png" />
    <img
      class="drapeau clickable"
      *ngIf="!paysage"
      src="{{ trad == 'fr' ? 'fr.png' : 'en.png' }}"
      (click)="trad == 'fr' ? (trad = 'en') : (trad = 'fr')"
    />
  </div>

  <div class="topmenu" *ngIf="paysage">
    <p
      *ngFor="let menu of topmenu"
      [class.clicked]="page == menu"
      [class.grised]="!menu.active"
      (click)="clickMenu(menu.en)"
    >
      {{ menu[trad] | uppercase }}
    </p>
    <p>
      <img
        src="{{ trad == 'fr' ? 'fr.png' : 'en.png' }}"
        (click)="trad == 'fr' ? (trad = 'en') : (trad = 'fr')"
      />
    </p>
  </div>

  <div id="middle-content">
    <div *ngIf="page.en == 'Home'">
      <div class="video-container">
        <video id="video" class="video" loop autoplay [muted]="'muted'">
          <source src="vid0.mp4" type="video/mp4" />
        </video>
      </div>

      <img class="topimg" src="10.jpg" *ngIf="false" />

      <div class="gray-background tronqued" *ngIf="false">
        <p>
          Enhancing every bride's <i>natural beauty</i> for a
          <i>seamless and memorable</i> wedding day.
        </p>
        <p>BASED IN PARIS, FRANCE & WHEREVER YOUR LOVE TAKES US</p>
      </div>

      <div class="image-desc tronqued">
        <div class="content">
          <div class="marquee-container">
            <div class="marquee">
              <p *ngFor="let i of onetoten">
                {{ trads[trad].meet_the_artist }}
              </p>
            </div>
          </div>
          <img src="0.jpg" />
          <div class="text">
            <p>{{ trads[trad].accueil_0_0 }}</p>
            <p>{{ trads[trad].accueil_0_1 }}</p>
            <p>{{ trads[trad].accueil_0_2 }}</p>
            <p class="clickable" (click)="clickMenu('About')">
              <i class="bold">{{ trads[trad].learn_more_approach }} ></i>
            </p>
          </div>
        </div>
      </div>

      <div class="gallery">
        <div class="content">
          <div class="marquee-container">
            <div class="marquee">
              <p *ngFor="let i of onetoten">
                {{ trads[trad].take_a_look_around }}
              </p>
            </div>
          </div>
          <div class="shots-container">
            <div
              class="shots"
              *ngFor="let image of galleries[0]"
              (click)="clickMenu(image.click)"
            >
              <img src="{{ image.img }}" />
              <div class="text">
                <p>{{ image[trad][0] }}</p>
                <p>
                  <i>{{ image[trad][1] }}</i>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="gray-left-text-image tronqued">
        <div class="left-text">
          <img src="4.jpg" *ngIf="!paysage" />
          <p>« {{ trads[trad].glow_avis }} »</p>
          <p>Aurélie B.</p>
        </div>
        <img src="4.jpg" *ngIf="paysage" />
      </div>

      <div class="list marques" *ngIf="false">
        <img *ngFor="let img of lists[0]" src="{{ img }}" />
      </div>

      <div class="list girls marquee">
        <img *ngFor="let img of portfolio" src="portfolio/{{ img - 1 }}.jpg" />
      </div>
    </div>

    <div *ngIf="page.en == 'About'">
      <div class="image-desc tronqued">
        <div class="content">
          <div class="marquee-container">
            <div class="marquee">
              <p *ngFor="let i of onetoten">
                {{ trads[trad].behind_the_brush }}
              </p>
            </div>
          </div>
          <img src="26.jpg" />
          <div class="text">
            <p>{{ trads[trad].about_0 }}</p>
            <p>{{ trads[trad].about_1 }}</p>
            <p>{{ trads[trad].about_2 }}</p>
            <button (click)="clickMenu('Services')">
              {{ trad == "fr" ? "PRESTATIONS" : "SERVICES" }}
            </button>
          </div>
        </div>
      </div>
      <div class="gray-left-text-image tronqued">
        <div class="left-text">
          <img src="27.jpg" *ngIf="!paysage" />
          <p class="title">{{ trad == "fr" ? "Ma vision" : "My approach" }}</p>
          <p>{{ trads[trad].approach_0 }}</p>
          <p>{{ trads[trad].approach_1 }}</p>
        </div>
        <img src="27.jpg" *ngIf="paysage" />
      </div>
      <div class="avis">
        <p class="title">{{ trads[trad].kind_words }}</p>
        <div class="container-avis" id="swipeDiv">
          <div
            class="image-desc"
            *ngFor="let avis of listeavis"
            [style.left]="
              -avisClicked * innerWidth +
              (paysage ? avisClicked * 10 : 0) +
              'px'
            "
          >
            <div class="content">
              <img src="{{ avis.img }}" />
              <div class="text">
                <p>{{ trad == "fr" ? avis.txt : avis.trad }}</p>
                <p>{{ avis.nom }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="dotsmenu">
          <p
            *ngFor="let avis of listeavis; let i = index"
            class="clickable"
            (click)="avisClicked = i"
            [class.clicked]="avisClicked == i"
          >
            .
          </p>
        </div>
      </div>
    </div>

    <div *ngIf="page.en == 'Portfolio'" class="portfolio-container">
      <div class="content">
        <div class="marquee-container">
          <div class="marquee">
            <p *ngFor="let i of onetoten">
              {{ trads[trad].explore_the_gallery }}
            </p>
          </div>
        </div>
        <div class="portfolio">
          <img
            *ngFor="let img of portfolio"
            src="portfolio/{{ img - 1 }}.{{ img == 15 ? 'jpg' : 'jpg' }}"
          />
        </div>
      </div>
    </div>

    <div *ngIf="page.en == 'Services'" class="services">
      <div class="content">
        <div class="marquee-container">
          <div class="marquee">
            <p *ngFor="let i of onetoten">
              {{ trad == "fr" ? "Les prestations" : "The services" }}
            </p>
          </div>
        </div>
        <div class="gray-left-text-image tronqued nobackground">
          <div class="left-text">
            <img src="30.jpg" *ngIf="!paysage" />
            <p class="title">
              {{
                trad == "fr"
                  ? "L'expérience de la mariée"
                  : "The bridal experience"
              }}
            </p>
            <p class="bold">
              {{
                trad == "fr"
                  ? "Une communication personnalisée"
                  : "A personalized communication"
              }}
            </p>
            <p>{{ trads[trad].bridal_0 }}</p>
            <p class="bold">
              {{
                trad == "fr"
                  ? "Une expérience beauté d'exception"
                  : "An exceptional beauty experience"
              }}
            </p>
            <p>{{ trads[trad].bridal_1 }}</p>
          </div>
          <img src="30.jpg" *ngIf="paysage" />
        </div>
      </div>

      <div class="blocs">
        <p class="title">
          {{ trad == "fr" ? "Mes prestations" : "My services" }}
        </p>
        <div class="listeblocs">
          <div class="listbloc" *ngFor="let service of services">
            <p class="title">{{ trad == "fr" ? service.nom : service.nom2 }}</p>
            <p>{{ trad == "fr" ? service.txt : service.txt2 }}</p>
          </div>
        </div>
      </div>

      <div class="faq">
        <p class="title">
          {{ trad == "fr" ? "Questions & réponses" : "Questions & help" }}
        </p>
        <div class="groupe" *ngFor="let groupe of faq">
          <p class="title">{{ trad == "fr" ? groupe.nom : groupe.nom2 }}</p>
          <div class="question" *ngFor="let question of groupe.questions">
            <p class="bold">{{ trad == "fr" ? question.q : question.q2 }}</p>
            <p>{{ trad == "fr" ? question.a : question.a2 }}</p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="page.en == 'Contact'" class="contact">
      <div class="bigimg-scrolltext">
        <div class="marquee-container">
          <div class="marquee">
            <p *ngFor="let i of onetoten">
              {{ trad == "fr" ? "Prennez contact" : "Get in touch" }}
            </p>
          </div>
        </div>
        <img src="29.jpg" />
      </div>

      <div class="gray-background tronqued">
        <p>{{ trad == "fr" ? "On commence ?" : "Shall we begin ?" }}</p>
        <p>
          {{ trads[trad].contact_0 }}
        </p>
        <p>
          {{ trads[trad].contact_1 }}
        </p>
        <p>* {{ trad == "fr" ? "CHAMP OBLIGATOIRE" : "REQUIRED FIELD" }}</p>
      </div>

      <div class="form-container">
        <div class="form">
          <div
            *ngFor="let field of fields"
            class="field"
            [class.big]="field.big"
            [class.huge]="field.huge"
          >
            <p>
              {{ trad == "fr" ? field.trad : field.nom }}
              {{ field.required ? "*" : "" }}
            </p>
            <input
              *ngIf="field.type == 'input'"
              type="text"
              placeholder="{{
                trad == 'fr' ? field.placetrad : field.placeholder
              }}"
              [(ngModel)]="field.model"
              [class.required]="field.model == '' && field.required"
            />
            <textarea
              *ngIf="field.type == 'textarea'"
              type="text"
              placeholder="{{
                trad == 'fr' ? field.placetrad : field.placeholder
              }}"
              [(ngModel)]="field.model"
              [class.required]="field.model == '' && field.required"
            ></textarea>
          </div>
        </div>
        <button [class.disabled]="cantSendMail()" (click)="sendMail()">
          {{ trad == "fr" ? "ENVOYER" : "SUBMIT" }}
        </button>
      </div>
    </div>
  </div>

  <div class="footer">
    <img class="logo" src="logo.png" />
    <p class="desc">{{ trads[trad].footer }}</p>
    <button (click)="clickMenu('Contact')">{{ trads[trad].inquire }}</button>
    <p class="insta" class="clickable" (click)="openInsta()">
      INSTAGRAM &#64;CLOE_MUA
    </p>
    <div class="list instapics">
      <img *ngFor="let img of lists[2]" src="{{ img }}" />
    </div>
    <div class="copyright">
      <p>Copyright © Cloe Chaudron Beauty</p>
      <p></p>
      <p>Legal information | T&C</p>
    </div>
  </div>
</div>
