<div
  class="container"
  [class.portrait]="!paysage"
  [class.paysage]="paysage"
  [class.bigscreen]="bigscreen"
>
  <div [class.invisible]="!showMenu" class="portrait-menu">
    <p class="cross clickable" (click)="showMenu = false">x</p>
    <ng-container *ngFor="let menu of topmenu">
    <p
      *ngIf="!menu.hidden"
        [class.clicked]="page == menu"
        [class.grised]="!menu.active"
        (click)="clickMenu(menu.en)"
      >
        {{ menu[trad] }}
    </p>
    </ng-container>
    
  </div>

  <div class="toptitle">
    <img
      class="clickable icnmenu"
      src="menu.png"
      (click)="showMenu = true"
      *ngIf="!paysage"
    />
    <img class="logo" src="logotop.png" />
    <img
      class="drapeau clickable"
      *ngIf="!paysage"
      src="{{ trad == 'fr' ? 'fr.png' : 'en.png' }}"
      (click)="trad == 'fr' ? (trad = 'en') : (trad = 'fr')"
    />
  </div>

  <div class="topmenu" *ngIf="paysage">
    <ng-container *ngFor="let menu of topmenu">
    <p
          *ngIf="!menu.hidden"
          [class.clicked]="page == menu"
          [class.grised]="!menu.active"
          (click)="clickMenu(menu.en)"
        >
          {{ menu[trad] | uppercase }}
    </p>
    </ng-container>
   
    <p>
      <img
        src="{{ trad == 'fr' ? 'fr.png' : 'en.png' }}"
        (click)="trad == 'fr' ? (trad = 'en') : (trad = 'fr')"
      />
    </p>
  </div>

  <div id="middle-content">
    <div *ngIf="page.en == 'Home'">
      <div class="video-container">
        <video id="video" class="video" loop autoplay [muted]="'muted'">
          <source src="vid0.mp4" type="video/mp4" />
        </video>
      </div>

      <img class="topimg" src="10.jpg" *ngIf="false" />

      <div class="gray-background tronqued" *ngIf="false">
        <p>
          Enhancing every bride's <i>natural beauty</i> for a
          <i>seamless and memorable</i> wedding day.
        </p>
        <p>BASED IN PARIS, FRANCE & WHEREVER YOUR LOVE TAKES US</p>
      </div>

      <div class="image-desc tronqued">
        <div class="content">
          <div class="marquee-container">
            <p>
              {{ trad == "fr" ? "Bienvenue" : "Welcome" }}
            </p>
            <p>
              {{ trad == "fr" ? "Bienvenue" : "Welcome" }}
            </p>
          </div>
          <img class="onlyOpacity" src="0.jpg" appScrollAppear/>
          <div class="text onlyOpacity" appScrollAppear>
            <p>{{ trads[trad].accueil_0_0 }}</p>
            <p>{{ trads[trad].accueil_0_1 }}</p>
            <p>{{ trads[trad].accueil_0_2 }}</p>
            <p class="clickable" (click)="clickMenu('About')">
              <i class="bold">{{ trads[trad].learn_more_approach }} ></i>
            </p>
          </div>
        </div>
      </div>

      <div class="gallery">
        <div class="content">
          <div class="marquee-container">
            <p>
              {{ trads[trad].take_a_look_around }}
            </p>
            <p>
              {{ trads[trad].take_a_look_around }}
            </p>
          </div>
          <div class="shots-container onlyOpacity" appScrollAppear>
            <div
              class="shots"
              *ngFor="let image of galleries"
              (click)="clickMenu(image.click)"
            >
              <img src="{{ image.img }}" />
              <div class="text">
                <p>{{ image[trad][0] }}</p>
                <p>
                  <i>{{ image[trad][1] }}</i>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="gray-left-text-image tronqued onlyOpacity" appScrollAppear>
        <div class="left-text">
          <img src="35.jpg" *ngIf="!paysage" />
          <p></p>
          <p>« {{ trads[trad].glow_avis }} »</p>
          <p>Leesa S.</p>
        </div>
        <img src="35.jpg" *ngIf="paysage" />
      </div>

      <div class="list girls marquee onlyOpacity" appScrollAppear>
        <ng-container *ngFor="let img of portfolio; let i = index">
          <img src="portfolio/{{ img }}" />
        </ng-container>
      </div>
    </div>

    <div *ngIf="page.en == 'About'" class="about">
      <div class="image-desc  tronqued">
        <div class="content gray">
          <div class="marquee-container">
            <p>
              {{ trads[trad].behind_the_brush }}
            </p>
            <p>
              {{ trads[trad].behind_the_brush }}
            </p>
          </div>
          <img class="onlyOpacity" src="26.jpg" appScrollAppear/>
          <div class="text onlyOpacity" appScrollAppear>
            <p>{{ trads[trad].about_0 }}</p>
            <p>{{ trads[trad].about_1 }}</p>
            <p>{{ trads[trad].about_2 }}</p>
            <button (click)="clickMenu('Services')">
              {{ trad == "fr" ? "PRESTATIONS" : "SERVICES" }}
            </button>
          </div>
        </div>
      </div>
      <div class="gray-left-text-image normal tronqued photoleft onlyOpacity" appScrollAppear>
        <div class="left-text">
          <img src="27.jpg" *ngIf="!paysage" />
          <p class="title">{{ trad == "fr" ? "Ma vision" : "My approach" }}</p>
          <p>{{ trads[trad].approach_0 }}</p>
          <p>{{ trads[trad].approach_1 }}</p>
        </div>
        <img src="27.jpg" *ngIf="paysage" />
      </div>
      <div class="image-desc gray products tronqued onlyOpacity" appScrollAppear>
        <div class="content">
          <img src="produits.jpg" />
          <div class="text">
            <p class="title">{{ trads[trad].products }}</p>
            <div>
              <p>{{ trads[trad].products_0 }}</p>
              <p>{{ trads[trad].products_1 }}</p>
              <p>{{ trads[trad].products_2 }}</p>
              <p>{{ trads[trad].products_3 }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="avis onlyOpacity" appScrollAppear>
        <p class="title">{{ trads[trad].kind_words }}</p>
        <div class="container-avis" id="swipeDiv">
          <div
            class="image-desc"
            *ngFor="let avis of listeavis"
            [style.left]="
              -avisClicked * innerWidth +
              (paysage ? avisClicked * 10 : avisClicked * 8) -
              (isMobile && !paysage ? avisClicked * 8 : 0) +
              'px'
            "
          >
            <div class="content">
              <img src="{{ avis.img }}" />
              <div class="text">
                <p>{{ trad == "fr" ? avis.txt : avis.trad }}</p>
                <p>{{ avis.nom }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="dotsmenu">
          <p
            *ngFor="let avis of listeavis; let i = index"
            class="clickable"
            (click)="avisClicked = i"
            [class.clicked]="avisClicked == i"
          >
            .
          </p>
        </div>
      </div>
    </div>

    <div *ngIf="page.en == 'Portfolio'" class="portfolio-container">
      <div class="content">
        <div class="marquee-container">
          <p>
            {{ trads[trad].explore_the_gallery }}
          </p>
          <p>
            {{ trads[trad].explore_the_gallery }}
          </p>
        </div>
        <div class="portfolio">
          <ng-container *ngFor="let img of portfolio; let i = index">
            <img class="onlyOpacity" src="portfolio/{{ img }}" appScrollAppear/>
          </ng-container>
        </div>
      </div>
    </div>

    <div *ngIf="page.en == 'Services'" class="services">
      <div class="content">
        <div class="marquee-container">
          <p>
            {{ trad == "fr" ? "Les prestations" : "The services" }}
          </p>
          <p>
            {{ trad == "fr" ? "Les prestations" : "The services" }}
          </p>
        </div>
        <div class="gray-left-text-image tronqued nobackground onlyOpacity" appScrollAppear>
          <div class="left-text">
            <img src="30.jpg" *ngIf="!paysage" />
            <p class="title">
              {{
                trad == "fr"
                  ? "L'expérience de la mariée"
                  : "The bridal experience"
              }}
            </p>
            <p class="bold">
              {{
                trad == "fr"
                  ? "Une communication personnalisée"
                  : "A personalized communication"
              }}
            </p>
            <p>{{ trads[trad].bridal_0 }}</p>
            <p class="bold">
              {{
                trad == "fr"
                  ? "Une expérience beauté d'exception"
                  : "An exceptional beauty experience"
              }}
            </p>
            <p>{{ trads[trad].bridal_1 }}</p>
          </div>
          <img src="30.jpg" *ngIf="paysage" />
        </div>
      </div>

      <div class="blocs">
        <p class="title">
          {{ trad == "fr" ? "Mes Prestations Mariées" : "Bridal Services" }}
        </p>
        <div class="listeblocs">
          <div class="listbloc onlyOpacity" (click)="clickPackage(service)" *ngFor="let service of trad=='fr'?services.mariees.fr:services.mariees.en" appScrollAppear>
            <img src="{{service[0]}}.png"/>
            <p class="title">{{ service[1] }}</p>
            <p class="title2">{{ service[2] }}</p>
            <p>{{ service[3] }}</p>
            <p class="ita">{{ service[4] }}</p>
          </div>
        </div>
        <p class="title">
          {{ trad == "fr" ? "Mes Prestations Invitées" : "Guest Services" }}
        </p>
        <div class="listeblocs">
          <div class="listbloc onlyOpacity" (click)="clickPackage(service)" *ngFor="let service of trad=='fr'?services.invitees.fr:services.invitees.en" appScrollAppear>
            <img src="{{service[0]}}.png"/>
            <p class="title">{{ service[1] }}</p>
            <p class="title2">{{ service[2] }}</p>
            <p>{{ service[3] }}</p>
            <p class="ita">{{ service[4] }}</p>
          </div>
        </div>
        <p *ngIf="trad == 'fr'" class="ita pad">Tous les forfaits sont bien entendu disponibles pour toutes les mariées et invitées, quels que soient leur style, leur couple ou leur histoire. J’ai à cœur d’accompagner chaque femme avec douceur, écoute et respect.</p>
      <p *ngIf="trad == 'en'" class="ita pad">
        All packages are of course available to all brides and guests, regardless of their style, partner, or story. I am deeply committed to supporting each woman with kindness, attentiveness, and respect.
      </p>
      </div>

      <div class="faq">
        <p class="title">
          {{ trad == "fr" ? "Questions & réponses" : "Questions & help" }}
        </p>
        <div class="groupe" *ngFor="let groupe of faq">
          <p class="title">{{ trad == "fr" ? groupe.nom : groupe.nom2 }}</p>
          <div class="question onlyOpacity" *ngFor="let question of groupe.questions" appScrollAppear>
            <p class="bold">{{ trad == "fr" ? question.q : question.q2 }}</p>
            <p>{{ trad == "fr" ? question.a : question.a2 }}</p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="page.en == 'Partners'" class="partners">

      <div class="image-desc  tronqued">
        <div class="content gray">
          <div class="marquee-container">
            <p>
              {{ trads[trad].domains }}
            </p>
            <p>
              {{ trads[trad].domains }}
            </p>
          </div>
          <div class="text onlyOpacity" appScrollAppear>
            <p>{{ trads[trad].domains_0 }}</p>
          </div>
        </div>
      </div>
      <div class="domains">
        <div *ngFor="let domain of domains; let i=index" class="domain onlyOpacity" appScrollAppear>
          <img class="clickable" src="domains/{{i}}.jpg" (click)="openLink(domain.site)"/>
          <div class="flex">
            <p class="title clickable" (click)="openLink(domain.site)"><span class="clickable"></span>{{domain.nom}}</p>
            <p class="title" *ngIf="bigscreen">&nbsp;- {{domain.ville}}</p>
          </div>
          <p class="title margauto" *ngIf="!bigscreen">{{domain.ville}}</p>
          <p>{{ getDomainTrad(i) }}</p>
        </div>
      </div>
      
      <div class="image-desc  tronqued">
        <div class="content gray">
          <div class="marquee-container">
            <p>
              {{ trads[trad].weddings }}
            </p>
            <p>
              {{ trads[trad].weddings }}
            </p>
          </div>
          <div class="text onlyOpacity" appScrollAppear>
            <p>{{ trads[trad].weddings_0 }}</p>
          </div>
        </div>
      </div>
      <div class="domains weddings">
        <div *ngFor="let wedding of weddings; let i=index" class="domain onlyOpacity" appScrollAppear>
          <img class="clickable" src="weddings/{{i}}.png" (click)="openLink(wedding.site)"/>
          <div class="flex">
            <p class="title clickable" (click)="openLink(wedding.site)"><span class="clickable"></span>{{wedding.nom}}</p>
            <p class="title" *ngIf="bigscreen">&nbsp;- {{wedding.ville}}</p>
          </div>
          <p class="title margauto" *ngIf="!bigscreen">{{wedding.ville}}</p>
          <p>{{ getWeddingTrad(i) }}</p>
        </div>
      </div>

      <div class="image-desc  tronqued">
        <div class="content gray">
          <div class="marquee-container">
            <p>
              {{ trads[trad].photographers }}
            </p>
            <p>
              {{ trads[trad].photographers }}
            </p>
          </div>
          <div class="text onlyOpacity" appScrollAppear>
            <p>{{ trads[trad].photographers_0 }}</p>
          </div>
        </div>
      </div>
      <div class="domains weddings">
        <div *ngFor="let photographer of photographers; let i=index" class="domain onlyOpacity" appScrollAppear>
          <img class="clickable" src="photographers/{{i}}.jpg" (click)="openLink(photographer.site)"/>
          <div class="flex">
            <p class="title clickable" (click)="openLink(photographer.site)"><span class="clickable"></span>{{photographer.nom}}</p>
            <p class="title" *ngIf="bigscreen">&nbsp;- {{photographer.ville}}</p>
          </div>
          <p class="title margauto" *ngIf="!bigscreen">{{photographer.ville}}</p>
          <p>{{ getPhotographerTrad(i) }}</p>
        </div>
      </div>

    </div>

    <div *ngIf="page.en == 'Contact'" class="contact">
      <div class="bigimg-scrolltext">
        <div class="marquee-container">
          <p>
            {{ trad == "fr" ? "Prenez contact" : "Get in touch" }}
          </p>
          <p>
            {{ trad == "fr" ? "Prenez contact" : "Get in touch" }}
          </p>
        </div>
        <img src="29.jpg" />
      </div>

      <div class="gray-background tronqued onlyOpacity" appScrollAppear>
        <p>{{ trad == "fr" ? "On commence ?" : "Shall we begin ?" }}</p>
        <p>
          {{ trads[trad].contact_0 }}
        </p>
        <p>
          {{ trads[trad].contact_1 }}
        </p>
        <p>* {{ trad == "fr" ? "CHAMP OBLIGATOIRE" : "REQUIRED FIELD" }}</p>
      </div>

      <div class="form-container onlyOpacity" appScrollAppear>
        <div class="form">
          <div
            *ngFor="let field of fields"
            class="field"
            [class.big]="field.big"
            [class.huge]="field.huge"
          >
            <p>
              {{ trad == "fr" ? field.trad : field.nom }}
              {{ field.required ? "*" : "" }}
            </p>
            <input
              *ngIf="field.type == 'input'"
              type="text"
              placeholder=""
              [(ngModel)]="field.model"
              [class.required]="field.model == '' && field.required"
            />
            <textarea
              *ngIf="field.type == 'textarea'"
              type="text"
              placeholder="{{
                trad == 'fr' ? field.placetrad : field.placeholder
              }}"
              [(ngModel)]="field.model"
              [class.required]="field.model == '' && field.required"
            ></textarea>
            <select *ngIf="field.type=='select'" [(ngModel)]="field.model">
              <optgroup label="{{trad=='fr'?'Forfaits Mariées':'Bridal Services'}}">
                <option *ngFor="let service of trad=='fr'?services.mariees.fr:services.mariees.en">{{service[1] +' : '+ service[2]}}</option>
              </optgroup>
              <optgroup label="{{trad=='fr'?'Forfaits Invitées':'Guest Services'}}">
                <option *ngFor="let service of trad=='fr'?services.invitees.fr:services.invitees.en">{{service[1] +' : '+ service[2]}}</option>
              </optgroup>
            </select>
          </div>
        </div>
        <p *ngIf="successmail" class="successmail">
          {{
            trad == "fr"
              ? "Email envoyé avec succès"
              : "Email sent successfully"
          }}
        </p>
        <button [class.disabled]="cantSendMail()" (click)="sendMail()">
          {{ trad == "fr" ? "ENVOYER" : "SUBMIT" }}
        </button>
      </div>
    </div>

    <div *ngIf="page.en == 'Legal Notice'" class="legal">
      <ng-container *ngIf="trad =='fr'">
        <p class="title">Mentions légales</p>
        <p>Conformément aux dispositions des articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l'Économie Numérique (LCEN), il est porté à la connaissance des utilisateurs du site www.cloechaudronbeauty.com les présentes mentions légales.</p>
        <div class="groupe onlyOpacity" appScrollAppear>
          <p class="title">Éditeur du site</p>
          <p><b>Nom :</b> Cloé Chaudron</p>
          <p><b>Statut :</b> Auto-entrepreneuse</p>
          <p><b>Adresse :</b> 84400 Gargas, France</p>
          <p><b>E-mail :</b> cloe.chaudron&#64;outlook.com</p>
          <p><b>Téléphone :</b> +33 6 68 64 44 02</p>
          <p><b>SIRET :</b> 883 822 801 00014</p>
          <p><b>Activité :</b> Autres services personnels – Diplômée maquilleuse artistique (École Sophie Lecomte – 2019)</p>
        </div>
        <div class="groupe onlyOpacity" appScrollAppear>
          <p class="title">Responsable de la publication</p>
          <p>Cloé Chaudron – cloe.chaudron&#64;outlook.com</p>
        </div>
        <div class="groupe onlyOpacity" appScrollAppear>
          <p class="title">Hébergement</p>
          <p><b>Hébergeur :</b> OVH</p>
          <p><b>Adresse :</b> 2 rue Kellermann – 59100 Roubaix – France</p>
          <p><b>Site Web : www.ovh.com</b></p>
        </div>
        <div class="groupe onlyOpacity" appScrollAppear>
          <p class="title">Propriété intellectuelle</p>
          <p>L'ensemble du contenu présent sur ce site (textes, images, logos, etc.) est la propriété exclusive de Cloé Chaudron, sauf mention contraire. Toute reproduction ou représentation, totale ou partielle, est interdite sans autorisation préalable écrite.</p>
        </div>
        <div class="groupe onlyOpacity" appScrollAppear>
          <p class="title">Données personnelles</p>
          <p>L'ensemble du contenu présent sur ce site (textes, images, logos, etc.) est la propriété exclusive de Cloé Chaudron, sauf mention contraire. Toute reproduction ou représentation, totale ou partielle, est interdite sans autorisation préalable écrite.</p>
          <p>Les informations communiquées via le formulaire de contact sont envoyées directement par e-mail et ne sont pas stockées sur le site. Elles sont utilisées uniquement dans le cadre de la relation client/prestataire. Aucune donnée personnelle n’est conservée ni transmise à des tiers.</p>
          <p>Conformément à la loi "Informatique et Libertés" du 6 janvier 1978 modifiée et au Règlement Général sur la Protection des Données (RGPD), vous disposez d’un droit d’accès, de rectification ou de suppression des données vous concernant. Pour exercer ce droit, contactez : cloe.chaudron&#64;outlook.com.</p>
        </div>
        <div class="groupe onlyOpacity" appScrollAppear>
          <p class="title">Cookies</p>
          <p>Ce site ne dépose aucun cookie et ne collecte aucune donnée de navigation.</p>
        </div>
      </ng-container>

      <ng-container *ngIf="trad == 'en'">
        <p class="title">Legal Notice</p>
        <p>In accordance with the provisions of Articles 6-III and 19 of French Law No. 2004-575 of June 21, 2004, on Confidence in the Digital Economy (LCEN), users of the website www.cloechaudronbeauty.com are hereby informed of the following legal information.</p>

        <div class="groupe">
          <p class="title">Website Publisher</p>
          <p><b>Name:</b> Cloé Chaudron</p>
          <p><b>Status:</b> Self-employed entrepreneur</p>
          <p><b>Address:</b> 84400 Gargas, France</p>
          <p><b>Email:</b> cloe.chaudron&#64;outlook.com</p>
          <p><b>Phone:</b> +33 6 68 64 44 02</p>
          <p><b>SIRET:</b> 883 822 801 00014</p>
          <p><b>Activity:</b> Personal services – Certified Makeup Artist (Sophie Lecomte School – 2019)</p>
        </div>

        <div class="groupe">
          <p class="title">Publication Manager</p>
          <p>Cloé Chaudron – cloe.chaudron&#64;outlook.com</p>
        </div>

        <div class="groupe">
          <p class="title">Hosting Provider</p>
          <p><b>Provider:</b> OVH</p>
          <p><b>Address:</b> 2 rue Kellermann – 59100 Roubaix – France</p>
          <p><b>Website: www.ovh.com</b></p>
        </div>

        <div class="groupe">
          <p class="title">Intellectual Property</p>
          <p>All content on this website (texts, images, logos, etc.) is the exclusive property of Cloé Chaudron, unless otherwise stated. Any total or partial reproduction or representation without prior written consent is strictly prohibited.</p>
        </div>

        <div class="groupe">
          <p class="title">Personal Data</p>
          <p>Information submitted via the contact form is sent directly by email and is not stored on the website. It is used solely for the purpose of client-provider communication. No personal data is stored or shared with third parties.</p>
          <p>In accordance with the French Data Protection Act of January 6, 1978, as amended, and the General Data Protection Regulation (GDPR), you have the right to access, correct, or delete your personal data. To exercise this right, contact: cloe.chaudron&#64;outlook.com.</p>
        </div>

        <div class="groupe">
          <p class="title">Cookies</p>
          <p>This website does not use cookies and does not collect any browsing data.</p>
        </div>
      </ng-container>
  </div>

  <div class="footer">
    <img class="logo onlyOpacity" src="logo.png" appScrollAppear/>
    <p class="desc onlyOpacity" appScrollAppear>{{ trads[trad].footer }}</p>
    <button class="onlyOpacity" (click)="clickMenu('Contact')" appScrollAppear>{{ trads[trad].inquire }}</button>
    <p class="insta" class="clickable" (click)="openInsta()">
      INSTAGRAM &#64;CLOE_MUA
    </p>
    <div class="list instapics onlyOpacity" appScrollAppear>
      <img *ngFor="let img of lists" src="{{ img }}" />
    </div>

    <div class="prixmariagenet onlyOpacity" appScrollAppear>
      <div>
        <img src="vu01.png" (click)="openSite(0)" />
      </div>
      <div>
        <div id="wp-ratedWA">
          <a
            target="_blank"
            href="https://www.mariages.net/esthetique-coiffure-mariage/cloe-chaudron--e211061"
            rel="nofollow"
            title="Cloé Chaudron, gagnant Wedding Awards 2025 Mariages.net"
          >
            <img
              width="125"
              height="125"
              alt="Cloé Chaudron, gagnant Wedding Awards 2025 Mariages.net"
              id="wp-ratedWA-img-2025"
              src="https://cdn1.mariages.net/img/badges/2025/badge-weddingawards_fr_FR.jpg"
            />
          </a>
        </div>
        <script
          type="text/javascript"
          src="https://cdn1.mariages.net/_js/wp-rated.js?v=4"
        ></script>
        <script>
          wpShowRatedWAv3("211061", "2025");
        </script>
      </div>
      <div>
        <img src="vu02.png" (click)="openSite(1)" />
      </div>
    </div>

    <div class="copyright onlyOpacity" appScrollAppear>
      <p>Copyright © Cloe Chaudron Beauty</p>
      <p class="legalbot" (click)="clickMenu('Legal Notice')">{{trad=='fr'?'Mentions Légales':'Legal Information'}}</p>
      <p>Developed by <a target="_blank" href="https://swisskey-solutions.com/">SwissKey Solutions</a></p>
    </div>
  </div>
</div>
