@font-face {
  font-family: menus;
  src: url(../public/quahon.otf) format("opentype");
}

@font-face {
  font-family: newyork;
  src: url(../public/quahon.otf) format("opentype");
}

@font-face {
  font-family: soligant;
  src: url(../public/soligantfont.otf) format("opentype");
}

@font-face {
  font-family: wedding;
  src: url(../public/wedding.ttf) format("opentype");
}

:root {
  --fond: #ffffff;
  --principale-opa1: #aa82ba;
  --principale: #aa82ba38;
  --scroll: #87528e3b;
  --gris-shadow: #505050;
  --required: #87528e;
}

.nobackground {
  background-color: unset !important;
}

* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  -webkit-appearance: none;
  position: relative;
  font-family: "newyork" !important;
}
.title {
  font-family: "menus" !important;
}
.bigscreen .tronqued {
  max-width: 70vw;
  margin: auto;
}
.portrait p {
  line-height: 2vh;
}

.noaction {
  pointer-events: none;
}

.clickable {
  text-align: center;
  color: var(--principale-opa1);
  transition: 0.5s;
}
.clickable:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.portrait-menu {
  position: fixed;
  top: 0px;
  transition: 0.5s;
  padding-top: 10vh;
  position: fixed;
  z-index: 1000;
  background-color: var(--fond);
  width: 100%;
  height: 100%;
  text-align: center;
}
.invisible {
  opacity: 0;
  pointer-events: none;
}
.cross {
  position: absolute;
  left: 5vw;
  top: 2vh;
  color: black;
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

img {
  filter: drop-shadow(3px 3px 4px black) !important;
}

body,
html {
  margin: 0;
  overflow-x: clip;
  overflow-y: visible;
  scrollbar-color: var(--principale-opa1) var(--scroll);
  scrollbar-width: thin;
  background-color: var(--fond);
}

.toptitle {
  display: flex;
  justify-content: center;
  background-color: var(--fond);
  //background-color:var(--principale);
}
.toptitle .icnmenu {
  width: 40px;
  height: 4vh;
  position: absolute;
  left: 5vw;
  top: 3.5vh;
}
.portrait .toptitle {
  position: sticky;
  top: 0px;
  z-index: 999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.toptitle .logo {
  filter: unset !important;
  height: 20vh;
  margin: 1vh 0vw;
}
.portrait .toptitle .logo {
  height: 10vh;
}
.toptitle p {
  font-weight: bold;
  font-size: 35px;
  text-shadow: var(--gris-shadow) 1px 1px 3px;
}
.portrait .toptitle p {
  font-weight: bold;
  font-size: 22px;
  text-shadow: var(--gris-shadow) 1px 1px 3px;
}
.topimg {
  height: 70vh;
  object-fit: cover;
  min-width: 100%;
  object-position: 40% 50%;
}

.topmenu {
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 999;
  background-color: var(--fond);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 0px;

  img {
    width: 22px;
  }
}
.grised {
  opacity: 0.2;
  pointer-events: none;
}

.topmenu p,
.portrait-menu p {
  transition: 0.5s;
  font-family: "menus" !important;
  text-shadow: var(--gris-shadow) 1px 1px 3px;
}
.topmenu .clicked,
.portrait-menu .clicked {
  color: var(--principale-opa1);
  text-decoration: underline;
}
.topmenu p:hover,
.portrait-menu p:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.video-container {
  margin-bottom: -5px;

  video {
    width: 100%;
  }
}

.gray-background {
  background-color: var(--principale);
  padding: 10%;
}
.nograybg {
  background-color: unset !important;
}
.contact .gray-background {
  padding: 5%;
}
.gray-background p {
  text-align: center;
}
.gray-background p:nth-child(1) {
  font-weight: bold;
  font-size: 35px;
}
.gray-background p:nth-child(2) {
  font-size: 10px;
}
.contact .gray-background p:nth-child(2) {
  font-size: 20px;
}

.image-desc {
  padding-top: 12vh;
}

.image-desc img {
  z-index: 1;
  width: 50%;
  object-fit: cover;
  object-position: 50% 50%;
}

.portrait .image-desc img {
  width: 90%;
  margin: auto;
  display: flex;
}

.image-desc .content {
  display: flex;
}
.portrait .image-desc .content {
  display: unset;
}

.image-desc .text {
  padding: 5vh 5vw;
  width: 50%;
  margin: auto;
}
.portrait .image-desc .text {
  width: auto;
  text-align: center;
}

.marquee-container {
  position: absolute;
  top: -55px;
  width: 100%;
  white-space: nowrap;
  z-index: 998;
  left: 50%;
}

.portrait .marquee-container {
  position: relative;
  top: -15px;
  width: 100%;
  overflow: unset;
  white-space: nowrap;
  height: 0px;
}

.marquee {
  display: flex;
  //justify-content: space-between;
  //animation: scroll-horizontal 30s linear infinite;
  white-space: nowrap;
}

.marquee-container p {
  font-size: 100px;
  position: absolute;
  margin: 0;
  color: black;
  font-family: "wedding" !important;
  text-shadow: black 1px 1px 7px;
}
.marquee {
  animation: scroll-horizontal3 240s linear infinite;
}
.marquee-container p:nth-child(1) {
  animation: scroll-horizontal 20s linear infinite;
}
.marquee-container p:nth-child(2) {
  animation: scroll-horizontal2 20s linear infinite;
  left: 100%;
}
.portrait .marquee p {
  font-size: 12vh;
}

@keyframes scroll-horizontal {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}

@keyframes scroll-horizontal2 {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes scroll-horizontal3 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-600%);
  }
}

.gallery {
  padding: 12vh 0vw 5vh 0vw;
}
.shots {
  z-index: 1;
  transition: 0.5s;
}
.shots:hover {
  opacity: 0.8;
  cursor: pointer;
}
.shots-container {
  overflow-x: auto;
  scrollbar-color: var(--principale-opa1) var(--scroll);
  scrollbar-width: thin;
  display: flex;
  padding-bottom: 1vh;
  height: 70vh;
}
.portrait .shots-container {
  display: unset;
}
.portrait .shots {
  margin-bottom: 2vh;
}
.shots p {
  margin: 0;
}
.shots img {
  margin: 0vh 3vw;
  width: 500px;
  height: 100%;

  object-fit: cover;
  object-position: 45% 50%;
}
.bigscreen .shots img {
  width: 700px;
}
.portrait .shots img {
  width: 90%;
  margin: auto;
  display: flex;
}
.shots .text {
  position: absolute;
  top: 0px;
  left: 3vw;
  font-size: 30px;
  margin: 5vh 5vw;
  color: white;
  text-shadow: black 1px 1px 3px;
}

.gray-left-text-image {
  background-color: var(--principale);
  display: flex;
  margin-top: 3vh !important;
  margin-bottom: 3vh !important;
}
.gray-left-text-image .left-text {
  width: 55%;
  padding: 15%;
  padding-top:unset;
}
.portrait .gray-left-text-image .left-text {
  width: unset;
  padding: 15%;
  padding-top:unset;
  text-align: center;
}
.gray-left-text-image img {
  width: 45%;
  object-fit: cover;
  object-position: 45% 50%;
}
.portrait .contact .bigimg-scrolltext img {
  object-position: 80% 25%;
}
.portrait .gray-left-text-image img {
  width: 65%;
}
.bigscreen .gray-left-text-image img {
  width: 65%;
  margin: auto;
}
.list {
  display: flex;
  justify-content: space-around;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin: 3vh 0vw;
}

.marques {
  padding: 3vh 0vw;
}

.marques img {
  height: 40px;
}

.contact .bigimg-scrolltext img {
  object-position: 50% 25%;
}
.girls {
  justify-content: unset !important;
}
.girls img {
  width: 400px;
  object-fit: cover;
  object-position: 50% 50%;
  padding: 0vh 1vw;
}
.portrait .girls img {
  width: 150px;
}
.instapics {
  background-color: var(--fond);
  padding: 3vh 0vw;
}
.instapics img {
  height: 200px;
  object-fit: cover;
  object-position: 50% 50%;
  padding: 0vh 1vw;
}
.portrait .instapics img {
  height: unset;
  width: 20%;
}
.footer {
  background-color: var(--principale);
  padding: 3vh 0vw;
}

.footer .logo {
  margin: auto;
  display: flex;
  width: 15%;
}
.footer .desc,
.footer .insta {
  width: 60%;
  text-align: center;
  padding: 0% 20%;
}
.footer .insta {
  margin-top: 5vh;
}
button {
  border: 1px solid black;
  padding: 1vh 7vw;
  display: flex;
  background-color: var(--principale);
  margin: auto;
  transition: 0.5s;
}
button:hover {
  cursor: pointer;
  border-color: var(--principale-opa1);
  color: var(--principale-opa1);
  background-color: var(--fond);
}
.footer .desc {
  margin: 2vh 0vw;
}
.footer .copyright {
  font-size: 10px;
  text-align: right;
  padding: 0vh 2vw;
  .legalbot{
    transition:0.5s;
    width:fit-content;
    margin-left: auto;
  }
  .legalbot:hover{
    cursor: pointer;
    transform: scale(1.2);
  }
}
.bold {
  font-weight: bold;
}
.bigimg-scrolltext {
  margin-top: 10vh !important;
}
.bigimg-scrolltext .marquee-container {
  z-index: 1;
}
.bigimg-scrolltext img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  object-position: 50% 50%;
}

.form-container {
  padding: 5vh 5%;
}
.form {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}
.form .field {
  width: 40%;
}
.portrait .form .field {
  width: 90%;
}
.form .big,
.form .huge {
  width: 90%;
}
.form .field textarea {
  width: 95%;
  padding: 1.5vh 2vw;
}
.form .field input {
  width: 88%;
  padding: 1.5vh 2vw;
}
.form .field select {
  width: 100%;
  padding: 1.5vh 2vw;
  background-color:white;
}
.portrait .form .field input,
.portrait .form .field textarea {
  width: 95%;
}
.form .huge input,
.form .huge textarea {
  height: 12vh;
}
.portrait .form .huge input,
.portrait .form .huge textarea {
  height: 25vh;
}
.form-container button {
  margin-top: 5vh;
}
input,
textarea, select {
  border: 1px ridge var(--principale-opa1);
  resize: none;
  -webkit-user-select: unset; /* Safari */
  -ms-user-select: unset; /* IE 10 and IE 11 */
  user-select: unset; /* Standard syntax */
}
input::placeholder,
textarea::placeholder {
  font-style: italic;
  opacity: 0.6;
}
.required {
  border: 3px ridge var(--required);
}
.wrong {
  color: red;
  font-weight: bold;
}
.form-container .disabled {
  opacity: 0.2;
  pointer-events: none;
}

.portrait .avis .text {
  padding: 0vh 5vw 5vh 5vw;
}
.avis {
  .title {
    margin: auto;
    text-align: center;
    font-size: 5vh;
    font-weight: bold;
    line-height: 4vh;
  }

  .image-desc {
    transition: 1s ease-in-out;
  }

  .dotsmenu {
    display: flex;
    justify-content: center;
    font-size: 50px;
    height: 10px;
    top: -105px;
    position: relative;

    p {
      color: var(--principale-opa1);
      padding: 0px 6px;
    }

    .clicked {
      pointer-events: none;
      scale: 1.2;
      color: var(--required);
    }
  }
}
.bigscreen .dotsmenu {
  font-size: 90px !important;
  top: -280px !important;
}
.container-avis {
  display: flex;
  overflow: hidden;

  .image-desc {
    padding: unset;
  }

  > div {
    width: 100%;
    min-width: 100%;
  }

  img {
    width: 30%;
    max-height: 80vh;
    padding: 5vh 5vw;
    pointer-events: none;
  }

  .text {
    margin: auto;
  }
}

.drapeau {
  height: 3vh;
  position: absolute;
  right: 4vw;
  top: 4vh;
}
.left-text .title {
  font-weight: bold;
  font-size: 3vh;
  font-style: italic;
}

.portfolio {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  margin: 10vh 0vw;

  img {
    width: 20%;
    object-fit: cover;
    object-position: 50% 50%;
    margin: 1vh 1vw;
  }
}
.portrait .portfolio img {
  width: 90%;
}
#middle-content {
  opacity: 1;
  transition: opacity 600ms ease;
}
.services{
  margin-top: 10vh;
}
.services, .legal {
  .gray-left-text-image {
    margin-top: unset !important;
  }

  .listeblocs {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }

  .blocs {
    padding: 5vh 0vw;
    background-color: var(--principale);
  }

  .title {
    display: flex;
    font-weight: bold;
    font-size: 3vh;
    font-style: italic;
    font-family: "menus" !important;
    justify-content: center;
  }

  .listbloc:hover{
    cursor:pointer;
    scale:1.1;
    opacity:0.9;
  }
  .listbloc {
    transition:0.5s;
    overflow:hidden;
    width: 35%;
    padding: 1vh 3vw;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    filter: drop-shadow(1px 1px 3px black);
    background-color: white;
    margin: 2vh 2vw;
    p{
      text-align: justify;
    }
    .title{
      margin-bottom:0px;
      width:100%;
    }
    .title2{
      font-weight:bold;
    }
    img{
      position:absolute;
      top:0px;
      height:100%;
      opacity: 0.2;
    }
  }
  .blocs{
    .ita{
      font-style: italic;
      opacity:0.6;
      text-align: center;
      margin:0;
      font-size:14px;
    }
    .pad{
      padding: 15px 10vw 0px 10vw;
    }
  }
}
.successmail {
  color: var(--required);
  font-weight: bold;
  text-align: center;
}
.faq, .legal {
  padding: 4vh 5vw;

  .groupe {
    .title {
      display: block;
      text-decoration: unset;
      font-weight: unset;
      font-style: unset;
      margin: 2vh 0vw;
    }

    p {
      margin: 0;
    }

    .bold {
      margin-top: 1vh;
    }
  }
}

.mariagenet {
  position: absolute;
  left: 20px;
  transition: 0.5s;
  z-index: 1;
}
.mariagenet:hover {
  cursor: pointer;
  scale: 1.1;
}
.prixmariagenet {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 80%;
  bottom: 10px;
  div {
    transition: 0.5s;
  }
  img {
    height: 75px;
    width: 75px;
  }
}
.portrait .prixmariagenet {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  bottom: -60px;
  div {
    transition: 0.5s;
  }
  img {
    height: 75px;
    width: 75px;
  }
}
.portrait .footer .copyright {
  font-size: 10px;
  text-align: right;
  padding: 0vh 2vw;
  position: relative;
  top: -90px;
  p {
    line-height: 0.6vh;
  }
}

.prixmariagenet div:hover {
  cursor: pointer;
  scale: 1.1;
}
.portrait {
  .services {
    .listbloc {
      width: 80%;
      padding: 1vh 3vw;
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      filter: drop-shadow(1px 1px 3px black);
      background-color: white;
      margin: 1vh 2vw;
    }
  }
  .faq {
    .groupe {
      .bold {
        margin-top: 2vh;
      }
      .title {
        margin: 4vh 0vw;
      }
    }
  }
}
